@import url("https://fonts.googleapis.com/css?family=Baloo|Baloo+Chettan+2|Montserrat&display=swap");

@media screen and (min-width: 300px) {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 5px;
    font-family: "Montserrat", sans-serif;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  a {
    text-decoration: #195faa;
  }

  a:visited {
    color: #195faa;
  }

  ul {
    list-style: none;
  }

  nav {
    margin: 15px 0 10px 0;
    padding-left: 20px;
    display: flex;
  }

  #nav-left,
  #nav-right,
  #nav-right-logout {
    display: flex;
    flex-direction: row;
    width: 50%;
    font-family: "Baloo", cursive;
  }

  i {
    margin-right: 5px;
  }

  .fa-taxi {
    margin-right: 2px;
  }

  svg {
    margin-right: 10px;
  }

  #nav-right {
    align-items: center;
    justify-content: space-evenly;
    /* padding-right: 20px; */
  }

  #nav-right-logout {
    justify-content: flex-end;
    padding-right: 20px;
  }

  .login-main {
    margin-top: 25%;
  }

  .signup-main {
    margin-top: 15%;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 30px white inset;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    padding: 10px 0 10px 5px;
    letter-spacing: 1.4px;
    border-bottom: 1px solid lightgrey;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  input:focus {
    outline: none;
    box-shadow: 0 0 5px #195faa;
  }

  input[type="email"],
  input[type="text"] {
    margin-bottom: 15px;
  }

  input[type="submit"] {
    width: 75%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: none;
    background-color: #195faa;
    color: white;
    font-weight: bold;
    letter-spacing: unset;
  }

  /* input[type="submit"]:hover {
    background-color: #f4511e;
  } */

  .form-header {
    padding-bottom: 20px;
    font-size: 0.8em;
    color: red;
  }

  .show-container {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    margin-bottom: 30px;
  }

  input[type="checkbox"] {
    width: unset;
    margin: 10px 5px 10px 0;
  }

  .signup-link {
    margin: 30px 0;
    text-align: center;
    font-size: 0.8em;
  }

  .bold-link {
    display: block;
    font-weight: bolder;
    margin: 10px;
  }

  h1 {
    margin: 0;
    font-family: "Baloo", cursive;
  }

  .main-section:nth-child(odd) {
    margin-bottom: 10px;
    background-color: #ddd;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    background-color: #aaa;
  }

  button {
    margin-left: auto;
    margin-right: auto;
  }

  .weather-container,
  .arrival-container,
  .departure-container,
  .events-container {
    margin: 15px 10px 0 10px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #195faa;
  }

  .weather-container {
    text-align: center;
  }

  .weather-container ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }

  ul {
    margin: 0;
  }

  li img {
    width: 50px;
  }

  li p {
    font-size: 0.5em;
  }

  .dashboard-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
  }

  .dashboard-header .fa-w-20 {
    flex: 1;
  }

  .dashboard-header p {
    font-size: 0.8em;
    flex: 8;
  }

  .dashboard-header h3 {
    margin-right: 10px;
    flex: 2;
  }

  .airline-container h4 {
    margin-top: 0;
  }

  table {
    table-layout: fixed;
    width: 100%;
    font-size: 0.5em;
  }

  th,
  td {
    text-align: left;
  }

  td {
    padding-right: 10px;
  }

  .event {
    clear: left;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgray;
  }

  .event-img {
    float: left;
    margin-right: 10px;
    padding: 10px 0 10px 0;
  }

  .event-img img {
    width: 48px;
    height: 48px;
  }

  .stock-img {
    float: left;
    font-size: 58px;
  }

  .event-info {
    padding: 10px 0 20px 0;
    font-size: 0.5em;
  }

  footer {
    margin: 60px 0 10px 0;
    padding: 10px;
    text-align: center;
  }

  footer a {
    margin: 0 5px;
    font-size: 1.5em;
  }

  .footer-cr {
    padding-top: 10px;
    font-size: 0.75em;
  }

  .footer-cr p {
    margin: 5px 0;
  }
}
